/* tab.css */

.working_machine {
  --width: 215px;
  --height: 124px;
}

.working_machine {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* Add any additional styling you need for the container */
}

.tab_full_background {
  width: var(--width);
  height: var(--height);
  min-width: var(--width);
  min-height: var(--height);
  max-width: var(--width);
  max-height: var(--height);
  border-radius: 8%;
  /* background-color: #b5b5b5; */
  background-color: #b5b5b5;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  position: relative;
  /* Use relative positioning for this container */
}

.header-box {
  width: 100px;
  height: 122px;
  /* background: #3e8bff; */
  background: #3e8bff;
  border-radius: 8%;
  display: flex;
  justify-content: center; /* Center horizontally */
  position: absolute;
  color: #ffffff;
  left: 0;
  top: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-style: normal;
  font-weight: 600;
  font-size: 0.8em;
  line-height: 15px;
}
.header-box > span {
  top: 1px;
  position: absolute;
  left: 10%;
  font-size: 13px;
}

.header-box img {
  width: 90px;
  height: 51px;
  position: absolute;
  left: 80px;
  top: 0;
  border-radius: 4px;
}

.tab_body {
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9%;
  position: absolute;
  left: 0;
  top: 14%;
}

.tab_body_notworking1 {
  width: 100%;
  height: 100%;
  background: #cccccc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9%;
  position: absolute;
  left: 0;
  top: 14%;
}

.machine_no_box {
  width: 25%;
  height: 38%;
  opacity: 1;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18%;
  position: absolute;
  left: 8%;
  top: 13%;
  line-height: 12%;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-style: normal;
  font-weight: 500;
  font-size: 2.6em;
  color: #000000;
  background: rgba(255, 255, 255, 0.7);
}

.machine_no_box_notworking {
  width: 25%;
  height: 38%;
  opacity: 1;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18%;
  position: absolute;
  left: 8%;
  top: 13%;
  line-height: 12%;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-style: normal;
  font-weight: 500;
  font-size: 2.6em;
  color: #000000;
  background: #b7b7b7;
}

.machine_no_box_stuck {
  width: 25%;
  height: 38%;
  opacity: 1;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18%;
  position: absolute;
  left: 8%;
  top: 13%;
  line-height: 12%;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-style: normal;
  font-weight: 500;
  font-size: 2.6em;
  color: #000000;
  background: #ffa4a7;
}

.mold_company {
  width: 24%;
  height: 19%;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-style: normal;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  font-weight: 600;
  font-size: 0.7em;
  line-height: 13px;
  border-radius: 5px;
  color: #000000;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  position: absolute;
  right: 8%;
  top: 10%;
  border: 1px solid #ffffff;
}

.mold_company_notworking {
  width: 24%;
  height: 19%;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-style: normal;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  font-weight: 600;
  font-size: 0.7em;
  line-height: 13px;
  border-radius: 5px;
  color: #000000;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  position: absolute;
  right: 8%;
  top: 10%;
  border: 1px solid #b7b7b7;
  background-color: #b7b7b7;
}

.mold_material {
  width: 24%;
  height: 19%;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-style: normal;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  font-weight: 600;
  font-size: 0.7em;
  line-height: 13px;
  border-radius: 5px;
  color: #000000;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  position: absolute;
  right: 8%;
  top: 37%;
  border: 1px solid #ffffff;
  background: rgba(255, 255, 255, 0.7);
}
.mold_material_notworking {
  width: 24%;
  height: 19%;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-style: normal;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  font-weight: 600;
  font-size: 0.7em;
  line-height: 13px;
  border-radius: 5px;
  color: #000000;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  position: absolute;
  right: 8%;
  top: 37%;
  border: 1px solid #b7b7b7;
  background-color: #b7b7b7;
}

.total_shots {
  box-sizing: border-box;
  width: 42%;
  height: 23%;
  border-radius: 8px;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 23px;
  color: #000000;
  left: 6%;
  top: 66%;
  border: 3px solid #5576ac;
  background: #ffffff;
}

.total_shots_notworking {
  box-sizing: border-box;
  width: 42%;
  height: 23%;
  border-radius: 8px;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 23px;
  color: #000000;
  left: 6%;
  top: 66%;
  border: 3px solid #5576ac;
  background: #b7b7b7;
}

.failed_shots {
  box-sizing: border-box;
  width: 42%;
  height: 23%;
  border-radius: 8px;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 23px;
  color: #000000;
  border: 3px solid #a65757;
  right: 6%;
  top: 66%;
  background: #ffffff;
}

.failed_shots_notworking {
  box-sizing: border-box;
  width: 42%;
  height: 23%;
  border-radius: 8px;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 23px;
  color: #000000;
  border: 3px solid #a65757;
  right: 6%;
  top: 66%;
  background: #b7b7b7;
}

.mona_number {
  /* 01_mononumber */

  position: absolute;
  width: 35%;
  height: 17px;
  left: 44%;
  top: 20px;

  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;

  color: #000000;
}
